# Godot
.godot/
/android/
*.translation
*.import
export.cfg
export_presets.cfg

# C# / .NET
obj/
bin/
.vs/
.vscode/
.idea/
*.user
*.suo
*.userprefs
.mono/
data_*/
mono_crash.*.json
nuget.dgspec.json
project.assets.json
project.nuget.cache
*.nupkg
